#task-section {
  padding: 150px 0 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightcoral;
  color: #fff;
  min-height: 100vh;
  form {
    display: block;
    margin: 0 auto;
    input {
      padding: 10px;
      font-size: 20px;
      border: 2px solid black;
    }
    .math-buttons {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 20px;
      button {
        padding: 8px 16px;
        background-color: #fff;
        border: 2px solid black;
      }
    }
  }
  .new-tasks {
    margin-top: 50px;
    h2 {
      padding: 20px 0;
    }
    ul {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px 100px;
      max-width: 1200px;
      margin: 0 auto;
      li {
        font-size: 24px;
        text-align: center;
      }
    }
  }
}
